//responsive breakpoints
$iphoneSE:375px;
$mobile:575px;
$mobile-horizontal:768px;
$tablet:992px;
$tablet-horizontal:1200px;
$laptop:1400px;

//color
$white:#ffffff;
$black-100:#353535;
$yellow-100:#D0B184;
$yellow-200:#F3C367;
$black-200:#111111;
$black-300:#020101;
$black-400:#333;
$black-500:#333333;
$black-800:#101010;
$black-900:#32373c;
$white-200:#f2eee0;
$white-300:#D4D4D4;
$gray-100:#EDEDED;
$gray-200:#DFDFDFF5;
$gray-300:#DEDEDE;
$orange-100:#fb5446;
$orange-200:#FF0000;
$orange-300:#c36;
$black-600:#374a5e;
$black-700:#000000;
$gray-300:#B4B2B2;
$blue-100:#4054b2;


//fonts
$primary-font:'Roboto', sans-serif;
$secondary-font:'Krub', sans-serif;
$font-lato:"Lato", Sans-serif;
$font-krub:'Krub', sans-serif;
$font-blinker:'Blinker', sans-serif;

