*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: $font-lato;
}

.w-full{
    width: 100%;
}

.p-10 {
    padding: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-60 {
    margin-bottom: 60px;
}

.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}

.primary-color{
    color: $black-100;
}

.secondary-color {
    color: $black-400;
}

.yellow-color {
    color: $yellow-100;
}
.bg-yellow {
    background-color: $yellow-200;
}
.orange-300 {
    color: $orange-300;
}

.primary-font {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}

.orange-color {
    color: $orange-100;
}

.container-620{
    max-width: 620px;
    margin: 0 auto;
    @include responsive($mobile){
        max-width: 280px;
    }
}
